<h2>Bevestig je nieuwe e-mailadres</h2>

<p>
  Klik op de volgende link om je e-mailadres te
  veranderen van {{ .Email }} naar {{ .NewEmail }}:
</p>
<p><a href="{{ .ConfirmationURL }}">E-mailadres wijzigen</a></p>
