<h2>Je mag deelnemen aan een %je minder!</h2>

<p>
  Je hebt een uitnodiging ontvangen om een account aan te maken
  op {{ .SiteURL }}. Klik op de volgende link om de uitnodiging
  te accepteren:
</p>
<p><a href="{{ .ConfirmationURL }}">Maak een account</a></p>
