body {
  max-width: 50em;
  margin: auto;
  padding: 8px;
}

q {
  display: block;
}

q:empty, q:empty ~ cite {
  visibility: hidden;
}

cite {
  margin-left: 3em;
}

#new_quote {
  border-radius: 16px;
}

 /* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0em;
  top: 0em;
  bottom: 0em;
  right: 0em;
  overflow: auto; /* Enable scroll if needed */
  border-radius: min( 7em, 100vw - 24em );
  border-width: min( 5em, 100vw - 25em );
  border-color: #0006;
  border-style: solid;
  outline: 5em solid #0006;
  background-color: #fefefe;
  background-clip: padding-box;

  padding: 1em;
}

label {
  display: block;
  padding-bottom: 1em;

  input {
    float: right;
  }
}

.eye-catching-button {
  font-weight: bold;
  color: darkgreen;
}

.close {
  &::after {
    content: "×";
  }
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  background: lightgrey;
  border-radius: 50%;
  float: right;
  cursor: pointer;
}

#vreetkiekjes {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
}

#vreetkiekjes img {
  max-width: 70%;
  flex-shrink: 1;
  border: 10px solid yellow;
  border-radius: 50%;
  transition: .3s;
}

#vreetkiekjes img:focus, #vreetkiekjes img:hover {
  scale: 250%;
  border-width: 4px;
}

[hidden] {
    display: none !important;
}